{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div>
                                <a href="{% url 'post_detail' post.slug %}">
                                    <h2 class="shoplist post-link">Shopping list: {{ post.title }}</h2>
                                </a>
                            </div>
                            <div>
                                <h6 class="content">{{ post.content | truncatechars:100 | safe }}</h6>
                                <h6>...</h6>
                                <hr>
                                <p class="card-text text-muted h6">{{ post.created_on }}</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

    <!-- Creating New list -->
    <div class="col-md-4 card mb-4 mt-3">
        <div class="card-body">
          {% if user.is_authenticated %}
          <h3>Add a new list:</h3>
          <p>Posting as: {{ user.username }}</p>
          <form id="PostForm" method="post" style="margin-top: 1.3em;">
            {{ form|crispy }}
            {% csrf_token %}
            <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
          </form>
          {% endif %}
        </div>
      </div>
</div>
{% endblock %}
